In [1]:
pip install sklearn

Requirement already satisfied: sklearn in c:\users\2017\appdata\local\programs\python\python36\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\2017\appdata\local\programs\python\python36\lib\site-packages (from sklearn) (0.23.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\2017\appdata\local\programs\python\python36\lib\site-packages (from scikit-learn->sklearn) (1.18.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\2017\appdata\local\programs\python\python36\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\2017\appdata\local\programs\python\python36\lib\site-packages (from scikit-learn->sklearn) (1.5.0)
Requirement already satisfied: joblib>=0.11 in c:\users\2017\appdata\local\programs\python\python36\lib\site-packages (from scikit-learn->sklearn) (0.15.1)
Could not build wheels for sklearn, since package 'wheel' is not installed.
Could not build wheels for scikit-learn, since package 'wheel' is not installed.
Could not build wheels for numpy, since package 'wheel' is not installed.
Could not build wheels for threadpoolctl, since package 'wheel' is not installed.
Could not build wheels for scipy, since package 'wheel' is not installed.
Could not build wheels for joblib, since package 'wheel' is not installed.
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.1; however, version 20.1.1 is available.
You should consider upgrading via the 'c:\users\2017\appdata\local\programs\python\python36\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('titanic.csv', index_col='PassengerId')

In [4]:
print(data[:50:])

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
6                   0       3
7                   0       1
8                   0       3
9                   1       3
10                  1       2
11                  1       3
12                  1       1
13                  0       3
14                  0       3
15                  0       3
16                  1       2
17                  0       3
18                  1       2
19                  0       3
20                  1       3
21                  0       2
22                  1       2
23                  1       3
24                  1       1
25                  0       3
26                  1       3
27                  0       3
28                  0       1
29                  1       3
30                  0       3
31                  0       1
32                  1       1
33                  1       3
34                  0       2
35                  0       1
36                  0       1
37                  1       3
38                  0       3
39                  0       3
40                  1       3
41                  0       3
42                  0       2
43                  0       3
44                  1       2
45                  1       3
46                  0       3
47                  0       3
48                  1       3
49                  0       3
50                  0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
6                                             Moran, Mr. James    male   NaN
7                                      McCarthy, Mr. Timothy J    male  54.0
8                               Palsson, Master. Gosta Leonard    male   2.0
9            Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0
10                         Nasser, Mrs. Nicholas (Adele Achem)  female  14.0
11                             Sandstrom, Miss. Marguerite Rut  female   4.0
12                                    Bonnell, Miss. Elizabeth  female  58.0
13                              Saundercock, Mr. William Henry    male  20.0
14                                 Andersson, Mr. Anders Johan    male  39.0
15                        Vestrom, Miss. Hulda Amanda Adolfina  female  14.0
16                            Hewlett, Mrs. (Mary D Kingcome)   female  55.0
17                                        Rice, Master. Eugene    male   2.0
18                                Williams, Mr. Charles Eugene    male   NaN
19           Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0
20                                     Masselmani, Mrs. Fatima  female   NaN
21                                        Fynney, Mr. Joseph J    male  35.0
22                                       Beesley, Mr. Lawrence    male  34.0
23                                 McGowan, Miss. Anna "Annie"  female  15.0
24                                Sloper, Mr. William Thompson    male  28.0
25                               Palsson, Miss. Torborg Danira  female   8.0
26           Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0
27                                     Emir, Mr. Farred Chehab    male   NaN
28                              Fortune, Mr. Charles Alexander    male  19.0
29                               O'Dwyer, Miss. Ellen "Nellie"  female   NaN
30                                         Todoroff, Mr. Lalio    male   NaN
31                                    Uruchurtu, Don. Manuel E    male  40.0
32              Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN
33                                    Glynn, Miss. Mary Agatha  female   NaN
34                                       Wheadon, Mr. Edward H    male  66.0
35                                     Meyer, Mr. Edgar Joseph    male  28.0
36                              Holverson, Mr. Alexander Oskar    male  42.0
37                                            Mamee, Mr. Hanna    male   NaN
38                                    Cann, Mr. Ernest Charles    male  21.0
39                          Vander Planke, Miss. Augusta Maria  female  18.0
40                                 Nicola-Yarred, Miss. Jamila  female  14.0
41              Ahlin, Mrs. Johan (Johanna Persdotter Larsson)  female  40.0
42           Turpin, Mrs. William John Robert (Dorothy Ann ...  female  27.0
43                                         Kraeff, Mr. Theodor    male   NaN
44                    Laroche, Miss. Simonne Marie Anne Andree  female   3.0
45                               Devaney, Miss. Margaret Delia  female  19.0
46                                    Rogers, Mr. William John    male   NaN
47                                           Lennon, Mr. Denis    male   NaN
48                                   O'Driscoll, Miss. Bridget  female   NaN
49                                         Samaan, Mr. Youssef    male   NaN
50               Arnold-Franchi, Mrs. Josef (Josefine Franchi)  female  18.0

             SibSp  Parch            Ticket      Fare        Cabin Embarked
PassengerId
1                1      0         A/5 21171    7.2500          NaN        S
2                1      0          PC 17599   71.2833          C85        C
3                0      0  STON/O2. 3101282    7.9250          NaN        S
4                1      0            113803   53.1000         C123        S
5                0      0            373450    8.0500          NaN        S
6                0      0            330877    8.4583          NaN        Q
7                0      0             17463   51.8625          E46        S
8                3      1            349909   21.0750          NaN        S
9                0      2            347742   11.1333          NaN        S
10               1      0            237736   30.0708          NaN        C
11               1      1           PP 9549   16.7000           G6        S
12               0      0            113783   26.5500         C103        S
13               0      0         A/5. 2151    8.0500          NaN        S
14               1      5            347082   31.2750          NaN        S
15               0      0            350406    7.8542          NaN        S
16               0      0            248706   16.0000          NaN        S
17               4      1            382652   29.1250          NaN        Q
18               0      0            244373   13.0000          NaN        S
19               1      0            345763   18.0000          NaN        S
20               0      0              2649    7.2250          NaN        C
21               0      0            239865   26.0000          NaN        S
22               0      0            248698   13.0000          D56        S
23               0      0            330923    8.0292          NaN        Q
24               0      0            113788   35.5000           A6        S
25               3      1            349909   21.0750          NaN        S
26               1      5            347077   31.3875          NaN        S
27               0      0              2631    7.2250          NaN        C
28               3      2             19950  263.0000  C23 C25 C27        S
29               0      0            330959    7.8792          NaN        Q
30               0      0            349216    7.8958          NaN        S
31               0      0          PC 17601   27.7208          NaN        C
32               1      0          PC 17569  146.5208          B78        C
33               0      0            335677    7.7500          NaN        Q
34               0      0        C.A. 24579   10.5000          NaN        S
35               1      0          PC 17604   82.1708          NaN        C
36               1      0            113789   52.0000          NaN        S
37               0      0              2677    7.2292          NaN        C
38               0      0        A./5. 2152    8.0500          NaN        S
39               2      0            345764   18.0000          NaN        S
40               1      0              2651   11.2417          NaN        C
41               1      0              7546    9.4750          NaN        S
42               1      0             11668   21.0000          NaN        S
43               0      0            349253    7.8958          NaN        C
44               1      2     SC/Paris 2123   41.5792          NaN        C
45               0      0            330958    7.8792          NaN        Q
46               0      0   S.C./A.4. 23567    8.0500          NaN        S
47               1      0            370371   15.5000          NaN        Q
48               0      0             14311    7.7500          NaN        Q
49               2      0              2662   21.6792          NaN        C
50               1      0            349237   17.8000          NaN        S

In [5]:
data["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [6]:
a = data["Survived"].value_counts()
print(a[1]/(a[0]+a[1]))

0.3838383838383838

In [7]:
fclass = data["Pclass"].value_counts()
fclass

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [8]:
print(fclass[1]/sum(fclass))

0.24242424242424243

In [9]:
ages = data["Age"].describe()
print(ages["mean"])
print(ages["50%"])
#ages.describe()

29.69911764705882
28.0

In [10]:
x1 = data["SibSp"].describe()["mean"]
y1 = data["Parch"].describe()["mean"]
print(x1, y1)
sum1 = 0
sum2 = 0
sum3 = 0
data1 = data["SibSp"]
data2 = data["Parch"]
print(data["SibSp"].iloc[3])

0.5230078563411896 0.38159371492704824
1

In [11]:
for i in range(len(data["SibSp"])):
    sum1 += (data1.iloc[i]-x1)*(data2.iloc[i]-y1)
    sum2 += (data1.iloc[i]-x1)**2
    sum3 += (data2.iloc[i]-y1)**2
print(sum1/(sum2*sum3)**0.5)

0.41483769862015263

In [12]:
a = "34532414345"
print(a.count("345"))

2

In [13]:
37*70

2590

In [14]:
data = data.drop(data.columns[[2,5,6,7,9,10]], axis = "columns")

In [15]:
for i in range(len(data["Sex"])):
    if data["Sex"].iloc[i] == "male":
        data["Sex"].iloc[i] = 1
    else:
        data["Sex"].iloc[i] = 0

c:\users\2017\appdata\local\programs\python\python36\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [16]:
data[:20:]

             Survived  Pclass Sex   Age     Fare
PassengerId
1                   0       3   1  22.0   7.2500
2                   1       1   0  38.0  71.2833
3                   1       3   0  26.0   7.9250
4                   1       1   0  35.0  53.1000
5                   0       3   1  35.0   8.0500
6                   0       3   1   NaN   8.4583
7                   0       1   1  54.0  51.8625
8                   0       3   1   2.0  21.0750
9                   1       3   0  27.0  11.1333
10                  1       2   0  14.0  30.0708
11                  1       3   0   4.0  16.7000
12                  1       1   0  58.0  26.5500
13                  0       3   1  20.0   8.0500
14                  0       3   1  39.0  31.2750
15                  0       3   0  14.0   7.8542
16                  1       2   0  55.0  16.0000
17                  0       3   1   2.0  29.1250
18                  1       2   1   NaN  13.0000
19                  0       3   0  31.0  18.0000
20                  1       3   0   NaN   7.2250

In [17]:
datatrue = data.isna()

In [18]:
data = data.dropna()[:20:]

In [19]:
from sklearn import *
from sklearn.tree import DecisionTreeClassifier
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=241)
iris = load_iris()
data1 = data.drop(data.columns[[0]], axis = "columns")
print(data1)

             Pclass Sex   Age     Fare
PassengerId
1                 3   1  22.0   7.2500
2                 1   0  38.0  71.2833
3                 3   0  26.0   7.9250
4                 1   0  35.0  53.1000
5                 3   1  35.0   8.0500
7                 1   1  54.0  51.8625
8                 3   1   2.0  21.0750
9                 3   0  27.0  11.1333
10                2   0  14.0  30.0708
11                3   0   4.0  16.7000
12                1   0  58.0  26.5500
13                3   1  20.0   8.0500
14                3   1  39.0  31.2750
15                3   0  14.0   7.8542
16                2   0  55.0  16.0000
17                3   1   2.0  29.1250
19                3   0  31.0  18.0000
21                2   1  35.0  26.0000
22                2   1  34.0  13.0000
23                3   0  15.0   8.0292

In [20]:
data2 = data["Survived"]
data2

PassengerId
1     0
2     1
3     1
4     1
5     0
7     0
8     0
9     1
10    1
11    1
12    1
13    0
14    0
15    0
16    1
17    0
19    0
21    0
22    1
23    1
Name: Survived, dtype: int64

In [21]:
clf.fit(data1, data2)

DecisionTreeClassifier(random_state=241)

In [22]:
importances = clf.feature_importances_

In [23]:
importances

array([0.06444444, 0.49494949, 0.13333333, 0.30727273])